main {
  margin-top: 6em;
}

footer p {
  display: none;
}

.box-answer {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 25px 20px;
  width: calc(80% / 2 - 120px);
  border-radius: 120px;
  border: solid 1px;
  box-shadow: -0px -5px 5px 5px;
  padding: 1em;
}
.box-answer:hover {
  background-color: #d20094;
}

button {
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
}

footer {
  font-size: 40px;

  font-family: "Outfit", sans-serif;
  color: white;
  text-align: center;
}
span {
  color: #d20094;
}

form p {
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

main p {
  text-align: center;
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.difficulty-buttons {
  text-align: center;
}

p div {
  height: 400px;
  margin-top: 1.5em;
}

.seldif {
  margin-bottom: 2em;
}

#timer {
  float: right;
  margin-right: 10vw;
}
.base-timer {
  position: relative;
  width: 200px;
  height: 200px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: #00ffff;
}
.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: white;
  font-family: "Outfit", sans-serif;
}
