/*STILI GENERALI*/

h1,
h2,
h3 {
    color: #fff;
    font-family: 'Outfit', sans-serif;
}

p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 1.7em;
}

.bold {
    font-weight: 700;
}

.azure {
    color: #00FFFFFF;
}

/*STILI PAGINA*/
.titlehead {
    text-align: center;
    margin-top: 80px;
}


.boxwithresult {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.resultgraphic {
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 2em;
    line-height: 1.4em;
    border: 0px solid #ffffff00;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: conic-gradient(from 175deg at 50% 50%, #00FFFFFF 50%, #900080 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#passed {
    width: 200px;
    height: 200px;
    border: 0px solid #ffffff00;
    border-radius: 50%;
    background-color: #0b113b;
    padding: 20%;
}

.correct_left {
    text-align: left;
    display: inline-block;
}

.wrong_right {
    text-align: right;
    display: inline-block;
}


.button {
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    padding: 0.8em 3em;
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #ffffff00;
    border: 3px solid #fff;
    margin-top: 80px;
}