h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-family: "Outfit", sans-serif;
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 700;
}
.primoh3 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}
h3 {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}
p {
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

input {
  background-color: #0c113b;
  border: 0px;
  margin-left: 30px;
  margin-top: 20px;
  margin-left: 300px;
}

.space_for_stars {
  margin-top: 50px;
  margin-bottom: 60px;
}
hr {
  border: 2;
  width: 900px;
  padding: 1px;
}

button {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  background-color: #00ffff;
  cursor: pointer;
  color: #0b113b;
  padding: 0.5em 1.8em;
  margin-top: 2em;
  box-shadow: 0px 0px 20px #00ffff, 0px 0px 0px #00ffff, 0px 0px 0px #00ffff,
    0px 0px 0px #00ffff;
  border: 1px solid #00ffff;
}
.container {
  margin-left: 140px;
}
.rating_box {
  display: flex;
  gap: 20px;
  margin-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
i {
  font-size: 25px;
  cursor: pointer;
  color: #0b113b;
}
textarea {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color: transparent;
  border: none;
  resize: none;
  width: 800px;
  height: 25px;
  color: white;
  margin-top: 3em;
  border-color: transparent;
}
form {
  text-align: center;
  margin-top: 3em;
}
