body{
    background-color: goldenrod;
}
.logo{
    width: 100%;
    text-align: left;
}
.logo img{
    width: 10em;

}
.box-answer{
    display: inline-block;
background-color: rgba(0, 0, 0, 0.1);
margin: 20px;
width: calc(80% / 2 - 60px);
border-radius: 120px;
border: solid 1px;
box-shadow: -10px -10px 10px 10px ;
}
.box-answer:hover{
    background-color: #D20094;
}
h1{
    font-weight: bold;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    line-height: 0.1em;
}
*{
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Outfit', sans-serif;
}