.logo{
    width: 100%;
    text-align: left;
}
.logo img{
    width: 10em;
}
.ask{
    margin-top: 2em;
}
.box-answer{
display: inline-block;
background-color: rgba(0, 0, 0, 0.1);
margin: 50px 20px;
width: calc(80% / 2 - 60px);
border-radius: 120px;
border: solid 1px;
box-shadow: -0px -5px 5px 5px;
padding: 30px;
}
.box-answer:hover{
    background-color: #D20094;
}
h1{
    font-weight: bold;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 2em;

}
*{
    font-size: 38px;
    text-align: center;
    color: white;
    font-family: 'Outfit', sans-serif;
}
footer{
   font-size: 50px;
   margin-top: 5em;
}
span{
    color: #D20094; ;
}